@tailwind base;
@tailwind components;
@tailwind utilities;

/* 明暗主题切换 */
html {
    --color-background: #ffffff;
    --color-text: #000000;
    --color-border: rgba(0,0,0,.125); /* 默认主题，淡黑色边框 */
    --color-block: rgba(0,0,0,.05);
}

html[data-theme='dark'] {
    --color-background: #000000;
    --color-text: #ffffff;
    --color-border: rgba(255,255,255,.5); /* 暗色主题，使用更亮的边框颜色 */
    --color-block: rgba(255,255,255,.25);
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

.container {
    position: relative;
}
.card {
    background-color: var(--color-background);
    color: var(--color-text);
    border: 1px solid var(--color-border);
}

#theme-toggle-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    color: var(--color-text);
}
#moon-icon {
    display: none; /* 在默认（明亮）主题中，隐藏月亮图标 */
}
[data-theme='dark'] #sun-icon {
    display: none; /* 在暗色主题中，隐藏太阳图标，显示月亮图标 */
}
[data-theme='dark'] #moon-icon {
    display: inline-block;
}

/* 配置区 */
.conf .mb-1 {
    display: flex;
    align-items: center;
}
.conf .mb-1 .form-select, .conf .mb-1 .form-control  {
    flex: 1;
    margin: 5px;
    font-size: 12px;
    background-color: var(--color-block);
    color: var(--color-text)
}
.conf .mb-1 .form-label {
    margin-bottom: 0;
    min-width: 70px;
}

#generateButton {
    margin: auto;
}
/* 动画反馈 */
@keyframes fadeInOut {
    0%,100% { opacity: 1; }
    50% { opacity: 0.3; }
}

.bgs {
    display: flex;
    align-items: center;
}

/* 图片 */
.figure {
    text-align: center;
    width: 100%;
}
.figure-img {
    max-height: 500px;
    max-width: 100%;
    cursor: pointer;
    padding: 0.25rem;
    background-color: var(--color-block);
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    height: auto;
}
.figure-caption{
    text-align: left;
    max-height: 130px;
    overflow: scroll;
}
.img-fade {
    animation: fadeInOut 2s infinite;
}

/* 历史图片 */
.image-history {
    margin-top: 20px;
}
.image-scroll-list {
    overflow-x: auto;
    white-space: nowrap;
    height: 132px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.image-list-item {
    display: inline-block;
    margin: 2px;
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--color-border);
}
.image-list-item:hover {
    background: #EEC;
}
.thumbnail {
    max-width: 78px;
    max-height: 78px;
}

/* 点击复制 */
#session {
    cursor: copy;
}
#caption {
    cursor: copy;
}
.copy-fade {
    animation: fadeInOut 0.5s 1;
}
